.layer {
  margin-bottom: 0;
}
.article-content {
  padding: 20px 10px;
}
.article-content h1 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  text-align: center;
}
.time {
  text-align: right;
  padding: 10px 0 5px;
  font-size: 12px;
  color: #000;
  border-bottom: 1px solid #dedede;
  margin-bottom: 10px;
}
.content {
  text-indent: 2em;
  font-size: 12px;
 line-height: 22px;
}
.content img {
  display: block;
  width: 100%;
  margin: 10px 0;
}