/*图标引入开始*/
@import "../iconfont/iconfont.css";

/*图标引入结束*/
body {
	font-family: "Microsoft YaHei";
	font-size: 14px;
	color: #666;
	background: #ffffff;
}

a {
	color: #666;
}
/*基本元素重置样式开始*/
em, i, s, strong {
	text-decoration:none;
	font-style: normal;
}
/*基本元素重置样式结束*/

/*字体主色调开始*/
.main_color{
	color:#35C2BC !important;
}
/*字体主色调结束*/

/*背景主色调开始*/
.main_bg_color{
	background-color:#35C2BC !important;
}
/*背景主色调结束*/

/*字体铺色调开始*/
.cmain_color{
	color:#5E6470 !important;
}
/*字体铺色调结束*/

/*背景铺色调开始*/
.cmain_bg_color{
	background-color:#5E6470 !important;
}
/*背景铺色调结束*/

.layer{
	width:100%;
	position:relative;
	height:100%;
  margin: 45px 0;
}

/*头部样式*/
.header {
  height: 45px;
  line-height: 45px;
  background: #FBD456;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  font-weight: bold;
}
.header i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: 25px;
  width: 50px;
  text-align: center;
  float: left;
  z-index: 2;
}
.header span {
  float: left;
  display: block;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 16px;
  z-index: 1;
}

/*底部样式*/
.footer {
  height: 45px;
  background: #fff;
  color: #666666;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-top: 1px solid #dedede;
}
.footer li {
  float: left;
  width: 20%;
  text-align: center;
}
.footer li a {
  display: block;
  height: 45px;
  padding-top: 5px;
  font-size: 12px;
}
.footer li i {
  font-size: 20px;
}
.footer li.hover a {
  color: #F23C50;
}
.swiper-pagination-bullet-active {
  background: #070506 !important;
}
